blockquote {
    background: #707070;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #f9f9f9;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.bubble {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 60vh;
}

.caption {
    position: absolute;
    margin: auto;
    width: 100vw;
    padding: 10px;
    height: 10vh;
    margin-top: 15%;
    text-align: center;
    opacity: 0.7;
}

.caption p {
    padding: 0 5vw;
}

.light {
    color: black;
    background-color: white;
}

.dark {
    color: #fafafa;
    background-color: #444;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.legend {
    visibility: hidden;
    min-width: 200px;
    background-color: #fafafa;
    z-index: 999;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    border-radius: 5px 10px;
}

.text_overlap {
    margin-top: 50vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#section1 {
    margin: 30vh 0;
}

#map1 {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.comparisonSection {
    position: relative;
    padding-bottom: 81.03%;
    /* to maintain aspect ratio (responsive!) */
}

.comparisonImage {
    width: 100%;
    height: 100%;
}

.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}

.afterImage img {
    transform: translate(-100%, 0px);
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#section3 {
    display: flex;
    background-color: #FFE8D6;
    padding-bottom: 5vh;
}

#section3 h2 {
    display: flex;
    padding-top: 20vh;
}

#section3>* {
    width: 50%;
}

.right-content {
    padding-right: 15px;
}

.left-content {
    height: 100vh;
    position: relative;
}

.left-content>* {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    width: 40vw;
}

#section4 {
    margin-top: 20vh;
}

@media screen and (max-width: 800px) {
    .left-content {
        display: none;
    }
    .right-content {
        padding-left: 15px;
    }
}